.relative {
height: 1000px;
width: 500px;
background-color: gray;
position: relative;
/*top: 50px;
left: 70px;
transform: translate(50px, 70px);*/
margin: 100px;
}
.absolute1 {
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    /*right: 30px;
    bottom: 20px;

    inset: 0;
    margin: auto;*/
    z-index: 1;
}
.absolute2 {
    height: 100px;
    width: 100px;
    background-color: rgb(126, 13, 101);
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    /*inset: 0;
    margin: auto;*/
}
.sticky{
    position: sticky;
    top: 10px;
    left: 20px;
}